name: maintenance-webapi-9004326

on:
  push:
    branches:
      - main # Runs when code is pushed to main branch
  workflow_dispatch: # Allows manual trigger from GitHub

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4 # Checks out repository code

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x' # Installs .NET 8 SDK

      - name: Build with dotnet
        # Specifies the project file to build and sets the configuration to Release
        run: dotnet build Services/Maintenance.WebAPI/Maintenance.WebAPI.csproj --configuration Release

      - name: dotnet publish
        # Publishes to a specific folder named 'publish' in the current workspace
        run: dotnet publish Services/Maintenance.WebAPI/Maintenance.WebAPI.csproj -c Release -o ./publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A45D4E338FD444E48ADC7B38B2AB3878 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B68554CEAD2043EAB1A7B5D6DD96C7B8 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_AA4510515BA84CF9AD72369305D332D8 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'maintenance-webapi-9004326'
          slot-name: 'Production'
          package: ./publish